@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #333 url('../img/cristina-gottardi-reyrEqzQrj4-unsplash.jpg') no-repeat center center / cover;
    color: #ccc;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0, 0.5);
}

.content {
    width: 50%;
    text-align: left;
    margin: 0 3rem;
    padding: 10px;
}

.txt {
    border-right: #ccc solid 1px;
}

.setting {
    position: absolute;
    top: 1px;
    right: 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav span {
    cursor: pointer;
    transition: 0.3s;
}

.input {
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: 0.3s;
}

.input-style {
    margin-bottom: 1rem;
    transition: 0.3s;
}

.input button {
    border-radius: 15px;
    background-color: #136602;
    color: white;
    cursor: pointer;
    height: 2rem;
    transition: 0.3s;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.table {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

table {
    border-collapse: collapse;
    margin-bottom: 30px;
}

th {
    background-color: slategray;
}

td {
    padding: 10px;
}

.delete {
    background-color: rgb(145, 0, 0);
    border-radius: 15px;
    color: white;
    cursor: pointer;
    height: 2rem;
    transition: 0.3s;
}

.warning {
    color: red;
}

h2 {  width: 500px;}
h1 {  width: 800px;}
p { width: 500px;}

@media screen and (max-width: 1000px){
    h2 {  width: 500px;}
    h1 {  width: 700px;}
    p { width: 500px;}
}

@media screen and (max-width: 768px){
    h2 {font-size: 1.4rem; width: 400;}
    h1 {font-size: 1.8rem; width: 550px;}
    p {font-size: 1.2rem; width: 400;}
}

@media screen and (max-width: 660px){
    h2 {font-size: 1.2rem; width: 200px;}
    h1 {font-size: 1.5rem; width: 250px;}
    p {font-size: 0.8rem; width: 200px;}
}

  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}